{% extends 'base.html' %}
{% load static %} 
{% block title %}Experience{% endblock title %}

{% block content %}

<section class="experience-section center-column">
    <h2>Experience/Education</h2>

    <div class="experience-list center-row">
        <div class="experience-card">

            
            
            <P>San Diego GKU</P>
            <P>Fullstack</P>
            <p>I have extensive experience in software engineering, focusing on developing scalable applications and optimizing system performance. My work spans web and mobile projects, where I collaborate with teams to deliver robust solutions that enhance user engagement and drive business success.</p>
            <p> JANUARY/02/2024</p>
            <div class="experience-skills">
                <label class="text-label">HTML</label>
                <label class="text-label">CSS</label>
                <label class="text-label">JAVASCRIPT</label>
                <label class="text-label">PYTHON</label>
                <label class="text-label">DJANGO</label>
            </div>
        
        </div>

    </div>
    
</section>


{% endblock content %}